<ul class="flex items-center my-2 pl-2 list-none">
  @if (rightNavConfig()?.length) {
  @for (rnc of rightNavConfig(); track rnc.section) {
  <!-- Notification Bell -->
  @if (item()?.type === 'notificationBell' && rnc.section === 'notification' && rnc.active) {
  <li class="notification-icon flex items-center cursor-pointer mt-2.5">
    <div #notificationTrigger [matMenuTriggerFor]="menu" class="relative" (click)="onBellClick()" title="Notifications"
      (keydown.enter)="$event.preventDefault(); notificationTrigger.click(); onBellClick();" tabindex="0"
      (keydown.escape)="$event.preventDefault(); notificationTrigger.click();">
      <mat-icon class="bell-icon mt-[5px] text-[rgba(27,76,161,1)]">notifications</mat-icon>
      @if (notificationsCount() > 0) {
      <span
        class="counter absolute top-0 left-[13px] w-[18px] h-[18px] rounded-full bg-[rgba(209,57,36,1)] text-white text-center text-[10px] flex items-center justify-center font-[Lato]">
        {{ notificationsCount() > 9 ? '9+' : notificationsCount() }}
      </span>
      }
    </div>
    <mat-menu #menu="matMenu" xPosition="before" class="my-notifications" (closed)="onMenuClosed()">
      <div class="p-4 w-[353px] bg-white rounded-[10px] font-normal cursor-default">
        @if (showDropdown()) {
        <sb-uin-notification-dropdown [showIcon]="true" (viewAllClick)="viewAllClick($event)"
          [unRead]="notificationsCount()">
        </sb-uin-notification-dropdown>
        }
      </div>
    </mat-menu>
  </li>
  }
  <!-- Font Setting -->
  @if (item()?.type === 'fontButton' && rnc.section === 'font-setting' && rnc.active && item()?.forPreview) {
  <li matTooltipClass="right-nav-tooltip" [matTooltip]="translateLabels('font', 'toprightnavbar')"
    class="flex items-center cursor-pointer">
    <ws-font-setting></ws-font-setting>
  </li>
  }

  <!-- Language Select -->
  @if (item()?.type === 'langSelect' && rnc.section === 'language' && rnc.active && isMultiLangEnabled()) {
  <li class="langdiv flex items-center cursor-pointer">
    <span class="mob-lang-img flex items-center mx-2 mt-[10px]" role="img" aria-label="Language" title="Language"
      [style.mask-image]="'url(/assets/icons/top-nav/translate_icon.svg)'"
      [style.-webkit-mask-image]="'url(/assets/icons/top-nav/translate_icon_dark.svg)'"
      [style.pointer-events]="'none'"></span>
    <mat-menu #language="matMenu" xPosition="before">
      @for (lang of multiLang(); track lang.key) {
      @if (lang.active) {
      <button mat-menu-item class="px-3" (click)="selectLanguage(lang.key)">
        <div class="language-options" [class.checkmark]="lang.key === selectedLanguage()"
          [class.active]="lang.key === selectedLanguage()">
          {{ lang.value }}
        </div>
      </button>
      }
      }
    </mat-menu>

    @if (showLangDropdown()) {
    <mat-form-field class="custom-lang">
      <span class="lang-img mr-1 mt-1" role="img" aria-label="Language" title="Language"
        [style.mask-image]="'url(/assets/icons/top-nav/translate_icon.svg)'"
        [style.-webkit-mask-image]="'url(/assets/icons/top-nav/translate_icon_dark.svg)'"></span>
      <mat-select matNativeControl panelClass="custom-langselect" [ngModel]="selectedLanguage()" [disabled]="true"
        (ngModelChange)="selectLanguage($event)" class="language-select">
        @for (lang of multiLang(); track lang.key) {
        @if (lang.active) {
        <mat-option [value]="lang.key" [class.checkmark]="lang.key === selectedLanguage()">
          {{ lang?.key?.toUpperCase() }}
        </mat-option>
        }
        }
      </mat-select>
    </mat-form-field>
    }
  </li>
  }

  <!-- Profile Widget -->
  @if (item()?.type === 'widgetButton' && rnc.section === 'profile' && rnc.active && item()?.forPreview) {
  <li matTooltipClass="right-nav-tooltip" [matTooltip]="'toprightnavbar.profile' | translate"
    class="flex items-center cursor-pointer removeProfileLink">
    <ng-container [wsResolverWidget]="item()?.config"></ng-container>
  </li>
  }
  }
  }
  @if (item()?.type === 'themeToggle') {
  <li matTooltipClass="right-nav-tooltip"
    matTooltip="{{ themeSvc.isDark ? 'Switch to Light Mode' : 'Switch to Dark Mode' }}"
    class="theme-toggle-btn flex items-center">
    <!-- <button mat-icon-button (click)="themeSvc.toggleTheme()" aria-label="Toggle theme">
      <mat-icon>{{ themeSvc.isDark ? 'brightness_7' : 'brightness_4' }}</mat-icon>
    </button> -->
    <span class="icon-svg w-5 h-5" (click)="themeSvc.toggleTheme()"
      [style.mask-image]="'url(/assets/icons/hubs-v2/' + (themeSvc.isDark ? 'light_mode' : 'dark_mode') + '.svg)'"
      [style.-webkit-mask-image]="'url(/assets/icons/hubs-v2/' + (themeSvc.isDark ? 'light_mode' : 'dark_mode') + '.svg)'"></span>
  </li>
  }
</ul>