<ws-footer-section *ngIf="showFooter && showLinks && !hideFooterSection()" [environment]="environment"
  [hubsList]="hubsList" [headerFooterConfigData]="headerFooterConfigData"></ws-footer-section>

<div *ngIf="showCopyright" class="mat-toolbar ws-mat-primary-text footer-container-home">
  <div class="mat-body text-center flex-1">
    <div class="copyright-content">
      <div class="copyright-logo">
        <ws-app-logo [classList]="'logo-dim app-logo'" [path]="redirectPath" [logoSrc]="logoSrc"></ws-app-logo>
      </div>
      <div class="copyright">
        <span class="font-14">&copy; {{ 'footer.copyright' | translate }} 2026-2027</span>
      </div>
    </div>
  </div>
</div>
