@if (fullMenuDispaly()) {
<!-- Top Navigation Bar -->
@if (sShowAppNavBar() && !needToHide() && mode() === 'top' && isHubEnable()) {
<!-- <mat-toolbar class="custom mobile-height w-full nav-v2-content px-3 md:px-0" [ngClass]="[
    isHubEnable() ? 'mobile' : '',
    leftNavBarOpen() ? 'top-nav-bar-on-menubar-open' : 'top-nav-bar-on-menubar-close'
  ]"> -->
<mat-toolbar class="custom mobile-height w-full nav-v2-content px-3 md:px-0" [ngClass]="[
      isHubEnable() ? 'mobile' : '',
    ]">
  @if (mode() === 'top') {
  <div class="w-full flex items-center mx-0" id="root-tool-bar">
    @if (!leftNavBarOpen() || (isTabView$ | async)) {
    <a [routerLink]="redirectPath" class="logo-dim items-center header-logo" role="link" title="Home"
      [ngStyle]="jan26Data?.isEnabled ? {'max-width': jan26Data?.desktop?.maxWidth} : null" i18n-aria-title
      i18n-aria-label>
      @if (jan26Data && jan26Data.isEnabled) {
      @if (janDataEnable()) {
      <div class="logo-box flex items-center">
        <img [src]="jan26Data.desktop.logoUrl" alt="Application Logo" class="app-logo-new" />
        <span class="mat-subheading-2 ws-mat-default-text logo-text margin-left-xs"
          [innerHTML]="jan26Data?.desktop?.logoText"></span>
      </div>
      } @else {
      <img [src]="appIcon" alt="Application Logo" class="app-logo object-contain w-full" />
      }
      } @else {
      <img [src]="appIcon" alt="Application Logo" class="app-logo object-contain w-full" />
      }
    </a>
    }
    @if (primaryNavbarConfig?.mediumScreen) {
    <div [ngClass]="[leftNavBarOpen() ? 'ml-search' : 'ml-search-nav-close', (isTabView$ | async) ? 'tab-search' : '']"
      class="header-search justify-start">
      <!-- @for (item of primaryNavbarConfig?.mediumScreen?.left; track item) {
      <ws-top-right-nav-bar-v2 [item]="item" [showLangDropdown]="showLangDropdown()"
        [rightNavConfig]="headerFooterConfigData()" [notificationsCount]="notificationsCount()" />
      } -->

      @if (!isforPreview()) {
      <ws-app-search-v4-input-home placeHolder="{{ 'appnavbar.searchAnything' | translate}}" class="my-search flex-1"
        [ref]="'home'">
      </ws-app-search-v4-input-home>
      }
    </div>
    }
    @if (!isforPreview()) {
    <div ngClass="search-small-logo">
      <ng-container [wsResolverWidget]="{
                      'widgetType': 'actionButton',
                      'widgetSubType': 'buttonFeature',
                      'widgetData': {
                        'toolTop': 'Search',
                        'actionBtnId': 'feature_search',
                        'config': {
                          'type': 'mat-icon-button'
                        }
                      }
                    }"></ng-container>
    </div>
    }

    <div class="flex gap-2 md:gap-4 items-center ml-auto">
      @for (item of filteredPrimaryNavbarConfig?.mediumScreen?.right; track item) {
      <ws-top-right-nav-bar-v2 [item]="getItem(item)" [showLangDropdown]="showLangDropdown()"
        [rightNavConfig]="headerFooterConfigData()" [notificationsCount]="notificationsCount()" />
      }
    </div>
  </div>
  }
</mat-toolbar>
}
<!-- Bottom Navigation Bar (Mobile) -->
@if (sShowAppNavBar() && !needToHide() && mode() === 'bottom') {
<mat-toolbar [ngStyle]="primaryNavbarBackground?.styles" class="custom mobile-footer-fixed-nav">

  @if (primaryNavbarConfig?.smallScreen && isLoggedIn()) {
  <ul class="mobile-footer-fixed-nav-list-item-container justify-between px-2">
    @for (item of primaryNavbarConfig?.smallScreen?.all; track item) {
    @if (item?.type !== 'explorerButton') {
    <li [ngClass]="isActive(item?.config) ? 'active-icon': ''" class="mobile-footer-fixed-nav-list-item"
      (click)="bottomNavClick(item)">
      <div class="icon-container" [id]="item?.config?.label?.toLowerCase() === 'search' ? 'feature_mobile_search' : ''">
        @if (item?.config?.path === '/page/home') {
        <img class="nav-icon-img" [src]="'/assets/icons/footer-nav/' + item?.config?.icon + '.svg'"
          [attr.aria-label]="item?.config?.label" [alt]="item?.config?.label" [title]="item?.config?.label" />
        } @else {
        <span class="nav-icon-svg" role="img" [attr.aria-label]="item?.config?.label" [title]="item?.config?.label"
          [style.mask-image]="'url(/assets/icons/footer-nav/' + item?.config?.icon + '.svg)'"
          [style.-webkit-mask-image]="'url(/assets/icons/footer-nav/' + item?.config?.icon + '.svg)'"></span>
        }
        <span>{{item?.config?.label | titlecase}}</span>
      </div>
    </li>
    }

    @if (item?.type === 'explorerButton') {
    <li [ngClass]="isActive(item?.config) ? 'active-icon': ''" class="mobile-footer-fixed-nav-list-item"
      (click)="openExploreMenu()">
      <div class="icon-container">
        @if (item?.config?.path === '/page/home') {
        <img class="nav-icon-img" [src]="'/assets/icons/footer-nav/' + item?.config?.icon + '.svg'"
          [attr.aria-label]="item?.config?.label" [alt]="item?.config?.label" [title]="item?.config?.label" />
        } @else {
        <span class="nav-icon-svg" role="img" [attr.aria-label]="item?.config?.label" [title]="item?.config?.label"
          [style.mask-image]="'url(/assets/icons/footer-nav/' + item?.config?.icon + '.svg)'"
          [style.-webkit-mask-image]="'url(/assets/icons/footer-nav/' + item?.config?.icon + '.svg)'"></span>
        }
        <span>{{item?.config?.label | titlecase}}</span>
      </div>
    </li>
    }
    }
  </ul>
  }
</mat-toolbar>
}

<!-- Fallback Toolbar (when navbar is hidden) -->
@if (!sShowAppNavBar()) {
<mat-toolbar>
  <div class="fix-ww flex flex-row mt-3" id="root-tool-bar" title="toolbar" i18n-aria-label role="toolbar">
    @if (mode() === 'top') {
    <div class="flex flex-1">
      @if (isThisSetUpPage()) {
      <a class="logo-dim" role="link" title="Home" i18n-aria-title i18n-aria-label [routerLink]="redirectPath">
        <img [src]="appIcon" alt="Application Logo" class="app-logo object-contain w-full" />
      </a>
      }
      @if (!isThisSetUpPage() && isforPreview()) {
      <a class="logo-dim" role="link" title="Home" i18n-aria-title i18n-aria-label routerLink="/static-home">
        <img [src]="appIcon" alt="Application Logo" class="app-logo object-contain w-full" />
      </a>
      }
    </div>
    }
  </div>
</mat-toolbar>
}
}

<!-- Karma Badge Template -->
<ng-template #karmaBadge>
  <div class="flex flex-middle points-block" [class.hideForNav]="hideKPOnNav()">
    <img (click)="viewKarmapoints()" src="/assets/icons/home/karma-badge.svg" width="32px" height="32px"
      alt="Karma Badge" class="app-logo cursor-pointer" />
    <div class="margin-left-xs">
      <p class="karma-lbl flex">
        {{ 'appnavbar.karmaPoints' | translate }}
        <img #tooltip="matTooltip" [matTooltipClass]="['karma-tooltip','below']" width="13.33px" height="13.33px"
          mat-raised-button matTooltip="{{ 'appnavbar.karmaPointsToolTip' | translate }}" [matTooltipPosition]="'below'"
          (click)="tooltip.show()" [matTooltipHideDelay]="tooltipDelay" class="cursor-pointer margin-left-xs"
          src="assets/icons/info.svg" alt="Info" />
      </p>
      <p class="karma-point">
        @if (karmaPointLoading()) {
        <ws-widget-skeleton-loader [width]="'34px'" [height]="'20px'"
          [bindingClass]="'flex rounded'"></ws-widget-skeleton-loader>
        } @else {
        {{ countdata() }}
        }
      </p>
    </div>
  </div>

  <div class="flex items-center arrow-back" [class.hideForNav]="!hideKPOnNav()" (click)="handleNavigateBack()">
    <mat-icon>arrow_back</mat-icon>
  </div>
</ng-template>

<!-- Help Menu -->
<mat-menu #helpMenu="matMenu">
  <sb-uic-btn-feature-v2 [widgetData]="{
    actionBtnId: 'feature_aboutUs',
    config: {
      type: 'mat-menu-item'
    }
  }"></sb-uic-btn-feature-v2>
  <sb-uic-btn-feature-v2 [widgetData]="{
    actionBtnId: 'channel_how_to',
    config: {
      type: 'mat-menu-item'
    }
  }"></sb-uic-btn-feature-v2>
  <sb-uic-btn-feature-v2 [widgetData]="{
    actionBtnId: 'feature_FAQs',
    config: {
      type: 'mat-menu-item'
    }
  }"></sb-uic-btn-feature-v2>
  <sb-uic-btn-feature-v2 [widgetData]="{
    actionBtnId: 'feature_quickTour',
    config: {
      type: 'mat-menu-item'
    }
  }"></sb-uic-btn-feature-v2>

  @if (isTourGuideAvailable()) {
  <div mat-menu-item (click)="startTour()">
    <mat-icon>help</mat-icon>
    <span class="ml-2">Tour Guide</span>
  </div>
  }
</mat-menu>